@import "variables";
@import "mixin";

.imagenes {
    width: 100%;
    height: auto;
    display: grid;
    gap: 20px;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.imagenes img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.imagenes img:hover {
    transform: scale(1.1);
}

#capablanca, #karpov, #kasparov, #carlsen, #fischer, #inicio {
    .container {
        main {
            text-align: center;
            .row {
                font-size: large;
                p {
                    @include parrafos();
                }
            }
            h1 {
                font-weight: 200;
                font-family: 'Courier New', Courier, monospace;
            }
            .imagenes {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                justify-items: center;
            }
            h2 {
                border-top: none;
                padding: 1rem;
            }
        }
    }
}

#capablanca .container {
    background-color: $color1;
    h2 {
        background-color: $color2;
    }
}

#karpov .container {
    background-color: rgb(221, 72, 14);
    h2 {
        background-color: $color3;
    }
}

#kasparov .container {
    background-color: $color3;
    h2 {
        background-color: $color2;
    }
}

#carlsen .container {
    background-color: $color2;
    h2 {
        background-color: $color3;
    }
}

#fischer .container {
    background-color: $color5;
    h2 {
        background-color: $color3;
    }
}

#inicio .container {
    background-color: $color4;
    p {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        align-items: center;
    }
    h1 {
        text-align: center;
        font-weight: 200;
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
    }
}

footer {
    background-color: $color5; 
    padding: 1rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
 }