#capablanca .container {
  background-color: aqua;
}
#capablanca .container main {
  text-align: center;
}
#capablanca .container main p {
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#capablanca .container main .row {
  font-size: large;
}
#capablanca .container main h1 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
#capablanca .container main .imagen1 {
  width: 100;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#capablanca .container main .imagen2 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#capablanca .container main .imagen3 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#capablanca .container main h2 {
  border-top: none;
  background-color: #22609e;
  padding: 1rem;
}

#karpov .container {
  background-color: rgb(221, 72, 14);
}
#karpov .container main {
  text-align: center;
}
#karpov .container main p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#karpov .container main .row {
  font-size: large;
}
#karpov .container main h1 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
#karpov .container main .imagen1 {
  width: 100;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#karpov .container main .imagen2 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#karpov .container main .imagen3 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#karpov .container main h2 {
  border-top: none;
  background-color: rgba(236, 123, 17, 0.6588235294);
  padding: 1rem;
}

#kasparov .container {
  background-color: rgb(14, 207, 221);
}
#kasparov .container main {
  text-align: center;
}
#kasparov .container main p {
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#kasparov .container main .row {
  font-size: large;
}
#kasparov .container main h1 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
#kasparov .container main .imagen1 {
  width: 100;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#kasparov .container main .imagen2 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#kasparov .container main .imagen3 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#kasparov .container main h2 {
  border-top: none;
  background-color: rgba(17, 156, 236, 0.6588235294);
  padding: 1rem;
}

#carlsen .container {
  background-color: rgba(14, 45, 221, 0.411);
}
#carlsen .container main {
  text-align: center;
}
#carlsen .container main p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}
#carlsen .container main .row {
  font-size: large;
}
#carlsen .container main h1 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
#carlsen .container main .imagen1 {
  width: 100;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#carlsen .container main .imagen2 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#carlsen .container main .imagen3 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#carlsen .container main h2 {
  border-top: none;
  background-color: rgba(236, 17, 236, 0.6588235294);
  padding: 1rem;
}

#fischer .container {
  background-color: rgba(58, 13, 70, 0.411);
}
#fischer .container main {
  text-align: center;
}
#fischer .container main p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}
#fischer .container main .row {
  font-size: large;
}
#fischer .container main h1 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
#fischer .container main .imagen1 {
  width: 100;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#fischer .container main .imagen2 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#fischer .container main .imagen3 {
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#fischer .container main h2 {
  border-top: none;
  background-color: rgba(17, 57, 236, 0.6588235294);
  padding: 1rem;
}

#inicio .container {
  background-color: rgba(14, 45, 221, 0.411);
}
#inicio .container main {
  text-align: center;
}
#inicio .container main p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#inicio .container main img {
  align-items: center;
}
#inicio .container main .row {
  font-size: large;
}
#inicio .container main h1 {
  text-align: center;
  font-weight: 200;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

/*# sourceMappingURL=style.css.map */
